<body>

  <div class="d-flex justify-content-between align-items-center" style="position:absolute;top:3%;right:2%">

    <button style="margin-right: 10px;background-color:#1a1c2c !important;  box-shadow: 0 0 10px #1a1c2c !important;"><span style="margin-right:5px;">login</span><i class="fa-solid fa-arrow-right-to-bracket"></i></button>
    <button >register Now!</button>
  </div>

  <h1>Shorten Your Loooong Links :)</h1>
  <p>Linkly is an efficient and easy-to-use URL shortening service that streamlines your online experience.</p>

  <div class="input-container">
    <span>🔗</span>
    <input #input type="text" placeholder="Enter the link here">
    <button (click)="shorten()">Shorten Now!</button>
  </div>

  <div class="toggle-container">
    <div class="toggle-switch" onclick="this.classList.toggle('active')"></div>
    <span>Auto Paste from Clipboard</span>
  </div>

  <div class="note">
    You can create <span>05</span> more links. <a href="#">Register</a> Now to enjoy Unlimited usage
  </div>

</body>
