ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: #1a1c2c;
position: relative;
}
.copyright-area{
background: #1a1c2c;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: #7c4dff;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #f50057;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}
